gcp_project_id = "project-e746f24e-392a-429f-a4d"
project_name   = "huntdevops"
environment    = "prod"
region         = "us-central1"
zone           = "us-central1-a"
repository_id  = "huntdevops-repo"
node_count     = 1
machine_type   = "e2-standard-2"
db_name        = "huntdevops"
db_user        = "postgres"
db_password    = "HuntDevOpsCloudSQL2026!"
cloudsql_tier  = "db-g1-small"

