gcp_project_id = "project-e746f24e-392a-429f-a4d"
project_name   = "huntdevops"
environment    = "prod"
region         = "us-central1"
repository_id  = "huntdevops-repo"
node_count     = 2
machine_type   = "e2-standard-2"
